################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ServiceWorkerTest/.vs/ServiceWorkerTest/v15/Server/sqlite3
